* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

nav {
  background-color: #4e4c4c54;
  padding: 30px;
  display: flex;
  font-size: larger;
  color: white !important;
  z-index: 12;
}

nav ul {
  list-style-type: none;
  font-size: larger;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.slide {
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  justify-content: space-between;
  height: 80vh;
}

#title1-2 {
  font-size: 24px;
  margin-bottom: -35px;
}
#title2-2 {
  font-size: 45px;
}

.icon {
  width: 15%;
  height: 15%;
}
.navBar {
}
