* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Sora", sans-serif;
  height: 100%;
}
body {
  overflow: hidden;
}
.header {
  display: grid;
  grid-template-columns: 1, 2, 3, 4, 5, 6, 7, 8;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.719); /* Transparent background */
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  color: white;
  padding-top: 35px;
}

.logo img {
  height: 65px; /* Adjust logo size */
  grid-column: 1;
}
.nav-menu {
  text-align: center;
  grid-row: 1;
  grid-column-end: 40;
}
.nav-menu a:hover {
  color: #0961a8;
}
.nav-menu ul {
  list-style: none;
  display: inline-flex;
  gap: 20px;
}

.nav-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  padding-inline: 8px;
  font-weight: bold;
}
#home {
  color: #1265a8;
}
#home:hover {
  color: #144670;
}
#contacts {
  color: #1265a8;
}
#contacts:hover {
  color: #144670;
}
#about {
  color: #1265a8;
}
#about:hover {
  color: #144670;
}
.search-container {
  grid-column-end: 25;
  display: inline-flex;
  background-color: #ffffff8a;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 550px;
  margin-left: 13px;
}

.search-container input[type="text"] {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background-color: #ffffff00;
}

.search-container button {
  background-color: #0961a8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.search-container button:hover {
  background-color: #144670;
}

.clear-btn {
  grid-column-end: 8;
  background-color: #0961a8;
}
.hero-text {
  position: absolute;
  top: 45%;
  left: 15%;
  transform: translate(-50%, -50%); /* Adjust for proper centering */
  color: white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  font-size: xx-large;
}

.hero-p {
  margin-top: 60px;
  font-size: 18px;
  padding: 5px;
  border-radius: 1%;
  color: #ffffff;
}
.hero {
  height: 120vh;
  width: 100%;
  position: relative;

  background-image: linear-gradient(
    to left,
    rgba(245, 246, 252, 0.356),
    #0961a8
  );
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#book {
  font-family: "Sora", sans-serif;
  background-color: #1265a8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}
#book:hover {
  background-color: #144670;
}

.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -12px;
  padding: 12px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 5s ease;
}
.alldots {
  display: none;
}
.prev:hover,
.next:hover,
.active,
.dot:hover {
  color: #717171;
}

.fadein {
  animation-name: fade-in;
  animation-duration: 4s;
}

@keyframes fade-in {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

/*About us page*/

.page-title {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  font-size: 70px;
}

.hero-a-p {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.356);
  padding: 20px;
  justify-content: center;
  display: inline;
  border-radius: 10px;
  width: 1200px;
  font-size: 19px;
}

.ourTeam {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.356);
  padding: 20px;
  justify-content: center;
  display: flex;
  text-align: left;
  gap: 100px;
  border-radius: 10px;
  font-size: 40px;
}

.team-member {
  background-color: #00000077;
  padding: 15px;
  border-radius: 10%;
  font-size: 25px;
  gap: 30px;
  justify-content: center;
  width: 300px;
  text-align: center;
}

/* Result of Search*/
#result {
  position: absolute;
  top: 46%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  padding: 0px;
  border-radius: 2%;
  font-size: 24px;
  width: 900px;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: -10px;
}

.visit {
  background-color: #0961a8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.visit:hover {
  background-color: #144670;
}

#cityimg {
  height: 300px;
  border-radius: 2%;
}

#resultbox {
  background-color: white;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-radius: 3%;
}

#top-pad {
  position: absolute;
  top: 15%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: rgb(0, 255, 34);
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 10px;
  font-size: 70px;
  width: 900px;
  height: 40px;
  display: none;
  background-color: #0961a8;
}

/*Contacts*/

.contact-form {
  position: absolute;
  top: 46%;
  left: 72%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.582);
  padding: 20px;
  border-radius: 2%;
  font-size: 24px;
  width: 900px;
  height: auto;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: -10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.submit-btn {
  font-family: "Sora", sans-serif;
  background-color: #1265a8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  margin-left: 28px;
  width: 800px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.contact-h {
  position: absolute;
  top: 36%;
  left: 18%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 70px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: -10px;
}
.contact-p {
  position: absolute;
  top: 43%;
  left: 10.8%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 18px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: -10px;
}
